__pycache__/
*.pyc
./EwhaToolBox/auth/client_secret.json
client_secret.json
quickstart.py
./EwhaToolbox/quickstart.py
./EwhaToolbox/test.py
myenv3.10/
./EwhaToolbox/myenv3.10/
.firebase/
firebase/
.google-cloud-sdk/
./EwhaToolBox/public/EasyOCR
./EwhaToolBox/public/ultralytics