/* 공통 CSS */
.layoutWrap {
    display: flex;
    height: 100vh;
    -webkit-box-pack: center;
    justify-content: center;
}

@media screen and (min-width: 1000px) {
    .layoutLeft {
        display: block;
        position: relative;
        width: 385px;
        margin-right: 60px;
    }
}

.layoutLeft {
    display: none;
    background-color: #333;
}

.layoutRight {
    position: absolute;
    width: 393px;
}

/* 상단바 */

/* header section */
.headerSection{
    box-sizing: border-box;
    width: 393px;
    height: 55px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.133333);
}


/* mypage */
.mypage {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 358px;
    top: 17px;
    background: url(./img/mypage.png);
}


/* noti */
.noti {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 326px;
    top: 17px;
    background: url(./img/noti.png);
}

/* 로고 */
.logo {
    position: absolute;
    width: 128px;
    height: 30px;
    left: 14px;
    top: 12px;
    background: url(./img/logo.png);
}


/* index.html */

/* nav */
.indexNav{
    display: block;
    box-sizing: border-box;
    margin: 0;
    width: 393px;
    height: 50px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.0666667);
    align-items: center;
}

/* 공구하기 */

.indexNav > li{
    display: block;
    float: left;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    align-items: center;
    text-align: center;
}
.indexNav a{
    display: block;
    color: #777;
    padding: 10px;
    text-decoration: none;
}

.indexNav .active{
    color: #17794A;
    border-bottom: solid 2px #17794A;
}


/* products ad container */
.indexProductAdContainer{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 370px;
    height: 300px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* 광고 이미지 예시*/
.indexProductAdImg{
    width: 314px;
    height: 180px;
    margin: auto;
    margin-top: 30px;
    background: url(./img/후드티.png);
}


/* products desc */
.indexProductAdDescBg{
    display: inline-block;
    margin-top: 10px;
    width: 370px;
    height: 88px;

    background: #025F2D;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


/* 광고용 멘트 */
.indexProductAdtext{
    display: inline-block;
    width: 332px;
    height: 22px;
    margin-top: 16px;
    margin-left: 16px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

/* [후드티] 어쩌고 저쩌고 후드티 상품 설명란임... */
.indexProductAddesc{
    width: 332px;
    height: 34px;
    margin-left: 16px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #EEEEEE;
}

/* products container */
.indexProductsList{
    display: block;
    padding: 10px 0px;
    margin: auto;
    margin-bottom: 10px;
    box-sizing: border-box;

    width: 370px;
    height: auto;

    background: #FEFEFE;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.indexProductsListTitle{
    display: block;
    margin: 10px;
    width: 226px;
    height: 22px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #000000;

}

.ProductBox{
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    width: 350px;
    height: 130px;
    
    border: 1px solid #EEEEEE;
    border-radius: 10px;
}

/* product img */
.ProductImg{
    display: inline-block;
    width: 110px;
    height: 110px;
    margin: 10px;
    background: url(./img/과잠.png);
    border-radius: 5px;
}

.ProductDesc{
    display: inline-block;
    width: 200px;
    height: 110px;
    margin: 10px;
}

.ProductCat{
    display: block;
    margin-top: 5px;
    width: 190px;
    height: 22px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #777777;
}

/* 상품 설명 영역 4온스 솜이 들어있어 보온이 잘 되는 야구점퍼 입니다 */
.Producttext{
    display: inline-block;
    margin: 5px 0px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;

    color: #000000;
}

.progressbarBox{
    width: 200px;
}

.attendees{
    display: inline;
    width: 62px;
    height: 24px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;

    color: #17794A;
}


.maxAttendees{
    display: inline;
    width: 42px;
    height: 23px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;

    color: #999999;
}

.ddayCount{
    display: inline-block;
    width: 118px;
    height: 16px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    text-align: right;

    color: #333333;

}

.progressbarBg{
    width: 200px;
    height: 5px;
    background: #D9D9D9;
    border-radius: 5px;
    overflow: hidden;
}
.progressbar{
    width: 130px;
    height: 5px;

    background: #17794A;
    border-radius: 5px;
}


/* 총대매기 버튼 */
.mydesignOpenBtn{
    display: flex;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    width: 340px;
    height: 31px;

    background: #FEFEFE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.mydesignOpenBtnText{
    display: flex;
    align-items: center;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    
}

.mydesignOpenBtnTextHl{
    color: #17794A;
}

.totalSold{
    width: 195px;
    height: 24px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: #000000;

}
.totalSoldHl{
    font-size: 18px;
    color: #17794A;
}
.opendesignOpenBtn{
    width: 120px;
    height: 25px;
    float: right;
    
    background: #17794A;
    border-radius: 15px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;

    text-align: center;
    border: none;
    color: #FFFFFF;
}
.opendesignOpenBtn > a{
    display: inline-block;
    align-items: center;
    margin: auto;
}


/* index.html 끝 */

/* mypage.html */

/* 프로필 */
.profile{
    display: flex;
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    width: 393px;
    height: 102px;
    left: 0px;
    top: 55px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.0666667);
    align-items: center;
}
/* 프로필사진 */
.profile_pic{
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    background: url(./img/ewhalogo.png);
}
/* 닉네임 */
.nickname{
    height: 29px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}
/* 닉네임 수정 */
.edit{
    width: 20px;
    height: 20px;
    background: url(./img/edit.png);  
}
/* 로그아웃 버튼 */
.logoutBtn{
    display: flex;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    width: 340px;
    height: 31px;

    background: #FEFEFE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.logoutBtnText{
    display: flex;
    align-items: center;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    
}
.logoutBtnTextHl{
    color: #17794A;
}
/*네비게이션바*/
.mypageNav{
    position: relative;
    left: calc(50% - 370px/2 + 0.5px);
    top:195px;

    box-sizing: border-box;
    margin: 0;
    width: 393px;
    height: 50px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.0666667);
    align-items: center;
}
.mypageNav > li{
    display: block;
    float: left;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    align-items: center;
    text-align: center;
}
.mypageNav a{
    display: block;
    color: #777;
    padding: 10px;
    text-decoration: none;
}
.mypageNav .active{
    color: #17794A;
    border-bottom: solid 2px #17794A;
}

/*내 공구함 상품*/
.MypageProduct{
    box-sizing: border-box;

    position: relative;
    width: 370px;
    height: 485px;
    left: calc(50% - 370px/2 + 0.5px);
    top:267px;

    background: #FEFEFE;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* mypage.html 끝 */



/* design.html */
.design_title{
    position: relative;
    top: 73px;
    height: 50px;
    text-align: center;
    font-family: 'Noto Sans KR';
    font-style:normal;
    font-weight: 700;
    font-size: 25px;
    color: #000000;
}

.design_img{
    position: relative;
    margin-top: 10px;
    width: 320px;
    height: 320px;
    background: url(./img/이미지등록.png);
}

.design_info textarea{
    position: relative;
    margin-top: 10px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    width: 320px;
}
/* design.html 끝 */


/*login.html*/

.login-text {
    /* 로그인 */

    position: absolute;
    width: 160px;
    height: 50px;
    left: calc(50% - 160px/2 + 35px);
    top: 100px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #000000;


}

input[type="email"] {
    /* Rectangle 4 */

    box-sizing: border-box;

    position: absolute;
    width: 315px;
    height: 60px;
    left: 39px;
    top: 221px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;

}

input[type="email"] {
    /* 이메일 주소 */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: rgba(86, 85, 85, 0.68);

}

input[type="password"] {
    /* Rectangle 5 */

    box-sizing: border-box;

    position: absolute;
    width: 315px;
    height: 60px;
    left: 39px;
    top: 298px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;

}

input[type="password"] {
    /* 비밀번호 */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: rgba(86, 85, 85, 0.68);

}

input[type="submit"] {

    /* Rectangle 6 */

    box-sizing: border-box;

    position: absolute;
    width: 315px;
    height: 60px;
    left: 38px;
    top: 385px;

    background: #17794A;
    border: 1px solid #17794A;
    border-radius: 5px;


}

#email::placeholder {
    /* 이메일 주소 */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: rgba(86, 85, 85, 0.68);

}

#password::placeholder {
    /* 이메일 주소 */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: rgba(86, 85, 85, 0.68);

}

input[type="submit"] {
    /* 로그인 */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.95);
    text-align: center;

}

input[type="submit"]:hover {
    background-color: #878a8d;
    /* Darker background color on hover */
}

.signup-button {
    /* Rectangle 7 */

    box-sizing: border-box;

    position: absolute;
    width: 315px;
    height: 60px;
    left: 38px;
    top: 462px;

    background: #17794A;
    border: 1px solid #17794A;
    border-radius: 5px;

}

.signup-button {
    /* 회원가입 */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    text-transform: uppercase;
    text-align: center;

    color: #FFFFFF;


}

.signup-button:hover {
    background-color: #878a8d;
    /* 호버시 배경 색상 변경 */
}

/*create-account.html*/

.createAccountSection{
    width: 100%;
    height: 55px;
    border-bottom: solid 1px #ddd;
    display: flex;
    align-items: center;
}

.before {
    /* before */
    position: absolute;
    width: 7px;
    height: 17px;
    left: 11px;
    top: 76px;
    background: url(./img/before.png);
}



.createAccount-text {
    width: 100%;
    height: 26px;
    text-align: center;
}
.createAccount-text > a {
    display: block;
    margin: auto;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    
    color: #000000;
}


#inputNickname {
    /* Rectangle 4 */

    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 30px;
    left: 20px;
    top: 165px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;

}

.nickname-text {
    /* 닉네임 */

    position: absolute;
    width: 253px;
    height: 29.36px;
    left: 20px;
    top: 110px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;

}

.email-text {
    /* 이메일 */

    position: absolute;
    width: 253px;
    height: 29.36px;
    left: 20px;
    top: 190px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;

}

#inputEmail {
    /* Rectangle 4 */

    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 30px;
    left: 20px;
    top: 245px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;

}

.phonenum-text {
    /* 연락처 */

    position: absolute;
    width: 253px;
    height: 29.36px;
    left: 20px;
    top: 270px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;



}

#inputPhonenum {

    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 30px;
    left: 20px;
    top: 325px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;

}

.address-text {
    /* 주소 */

    position: absolute;
    width: 253px;
    height: 29.36px;
    left: 20px;
    top: 350px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;



}

#sample6_address {

    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 30px;
    left: 20px;
    top: 400px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;


    /* 배송받을 주소를 검색해주세요. */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: rgba(86, 85, 85, 0.68);
}

#sample6_detailAddress {

    box-sizing: border-box;

    position: absolute;
    width: 255px;
    height: 30px;
    left: 20px;
    top: 470px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;


    /* 배송받을 주소를 검색해주세요. */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: rgba(86, 85, 85, 0.68);

}

#sample6_postcode {

    box-sizing: border-box;

    position: absolute;
    width: 255px;
    height: 30px;
    left: 20px;
    top: 435px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;


    /* 배송받을 주소를 검색해주세요. */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: rgba(86, 85, 85, 0.68);

}


#sample6_extraAddress {

    box-sizing: border-box;

    position: absolute;
    width: 255px;
    height: 30px;
    left: 20px;
    top: 505px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;


    /* 배송받을 주소를 검색해주세요. */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: rgba(86, 85, 85, 0.68);

}

#sample6_button {
    box-sizing: border-box;

    position: absolute;
    width: 90px;
    height: 30px;
    left: 280px;
    top: 435px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;


    /* 배송받을 주소를 검색해주세요. */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: rgba(86, 85, 85, 0.68);

}

.password-text {

    position: absolute;
    width: 253px;
    height: 29.36px;
    left: 20px;
    top: 530px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;

}

#inputPassword {

    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 30px;
    left: 20px;
    top: 585px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;
}

#inputPassword2 {

    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 30px;
    left: 20px;
    top: 620px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;
}


.school-button {
    /* Rectangle 6 */

    box-sizing: border-box;

    position: absolute;
    width: 160px;
    height: 50px;
    left: 20px;
    top: 670px;

    background: #17794A;
    border: 1px solid #17794A;
    border-radius: 5px;


}

.school-button {
    /* 회원가입 */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    text-transform: uppercase;
    text-align: center;

    color: #FFFFFF;


}

.school-button:hover {
    background-color: #878a8d;
    /* 호버시 배경 색상 변경 */
}

.realname-button {
    /* Rectangle 6 */

    box-sizing: border-box;

    position: absolute;
    width: 160px;
    height: 50px;
    left: 210px;
    top: 670px;

    background: #17794A;
    border: 1px solid #17794A;
    border-radius: 5px;


}

.realname-button {
    /* 회원가입 */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    text-transform: uppercase;
    text-align: center;

    color: #FFFFFF;
}
.realname-button:hover {
    background-color: #878a8d;
    /* 호버시 배경 색상 변경 */
}

.create-button {

    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 40px;
    left: 20px;
    top: 735px;

    background: #777777;
    border: 1px solid #777777;
    border-radius: 5px;


}

.create-button {
    /* 회원가입 */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    text-transform: uppercase;
    text-align: center;

    color: #FFFFFF;


}

/*product-register.html*/

.categorySection{
    width: 100%;
    height: 95px;
    display: flex;
    align-items: center;
}

.category-text {

    position: absolute;
    width: 253px;
    height: 29.36px;
    left: 20px;
    top: 60px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}

#category{
    position: absolute;
    width: 350px;
    height: 29.36px;
    left: 20px;
    top: 115px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}


.titleSection{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.title-text {

    position: absolute;
    width: 253px;
    height: 29.36px;
    left: 20px;
    top: 140px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}

#inputTitle{
    position: absolute;
    width: 350px;
    height: 26px;
    left: 20px;
    top: 195px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}

.summarySection{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.summary-text {

    position: absolute;
    width: 253px;
    height: 29.36px;
    left: 20px;
    top: 220px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}

#inputSummary{
    position: absolute;
    width: 350px;
    height: 26px;
    left: 20px;
    top: 275px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}


.periodSection{
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
}

.period-text {

    position: absolute;
    width: 253px;
    height: 29.36px;
    left: 20px;
    top: 300px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}

#year{
    position: absolute;
    width: 70px;
    height: 26px;
    left: 20px;
    top: 355px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}

#month{
    position: absolute;
    width: 70px;
    height: 26px;
    left: 100px;
    top: 355px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}

#day{
    position: absolute;
    width: 70px;
    height: 26px;
    left: 180px;
    top: 355px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}
.from-text {

    position: absolute;
    width: 253px;
    height: 29.36px;
    left: 260px;
    top: 335px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}


#year2{
    position: absolute;
    width: 70px;
    height: 26px;
    left: 20px;
    top: 390px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}

#month2{
    position: absolute;
    width: 70px;
    height: 26px;
    left: 100px;
    top: 390px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}

#day2{
    position: absolute;
    width: 70px;
    height: 26px;
    left: 180px;
    top: 390px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}
.until-text {

    position: absolute;
    width: 253px;
    height: 29.36px;
    left: 260px;
    top: 370px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}


.priceSection{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
}

.price-text {

    position: absolute;
    width: 253px;
    height: 29.36px;
    left: 20px;
    top: 410px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}

#inputPrice{
    position: absolute;
    width: 350px;
    height: 26px;
    left: 20px;
    top: 460px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}


.amountSection{
    width: 150%;
    height: 80px;
    display: flex;
    align-items: center;
}

.minamount-text {

    position: absolute;
    width: 253px;
    height: 29.36px;
    left: 20px;
    top: 490px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}

#inputMinAmount{
    position: absolute;
    width: 150px;
    height: 26px;
    left: 20px;
    top: 540px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}

.maxamount-text {

    position: absolute;
    width: 253px;
    height: 29.36px;
    left: 220px;
    top: 490px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}

#inputMaxAmount{
    position: absolute;
    width: 150px;
    height: 26px;
    left: 220px;
    top: 540px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}


.imageSection{
    width: 150%;
    height: 70px;
    display: flex;
    align-items: center;
}

.image-text {

    position: absolute;
    width: 253px;
    height: 29.36px;
    left: 20px;
    top: 565px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}

#getImage_button{
    position: absolute;
    width: 150px;
    height: 26px;
    left: 20px;
    top: 615px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}


.addSection{
    width: 120%;
    height: 120px;
    display: flex;
    align-items: center;
}

.add-text {

    position: absolute;
    width: 253px;
    height: 29.36px;
    left: 20px;
    top: 635px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}

#inputAdd{
    position: absolute;
    width: 260px;
    height: 26px;
    left: 20px;
    top: 685px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}

.trashButton {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 310px;
    top: 690px;
}

.plusButton {
    position: absolute;
    width: 15px;
    height: 15px;   
    left: 350px;
    top: 690px;
}

#inputAdddetail{
    position: absolute;
    width: 150px;
    height: 26px;
    left: 20px;
    top: 725px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}

.trashButton2 {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 200px;
    top: 730px;
}

.plusButton2 {
    position: absolute;
    width: 15px;
    height: 15px;   
    left: 240px;
    top: 730px;
}

.conditionSection{
    width: 150%;
    height: 80px;
    display: flex;
    align-items: center;
}

.condition-text {

    position: absolute;
    width: 253px;
    height: 29.36px;
    left: 20px;
    top: 750px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}

#condition{
    position: absolute;
    width: 350px;
    height: 26px;
    left: 20px;
    top: 800px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;
}

.registrationSection{
    width: 150%;
    height: 100px;
    display: flex;
    align-items: center;
}

.registration-button {

    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 40px;
    left: 20px;
    top: 855px;

    background: #17794A;
    border: 1px solid #17794A;
    border-radius: 5px;


}

.registration-button {
    /* 회원가입 */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    text-transform: uppercase;
    text-align: center;

    color: #FFFFFF;

}
.registration-button:hover {
    background-color: #878a8d;
    /* 호버시 배경 색상 변경 */
}

/*product-register.html 끝*/