/* 공통 CSS */
.layoutWrap{
    display: flex;
    height: 100vh;
    -webkit-box-pack: center;
    justify-content: center;
}
@media screen and (min-width: 1000px){
    .layoutLeft {
        display: block;
        position: relative;
        width: 385px;
        margin-right: 60px;
    }
}
.layoutLeft{
    display: none;
    background-color: #333;
}
.layoutRight{
    position: absolute;
    width: 393px;
    min-height: 800px;
    background-color: #eee;
}

/* header section */
.headerSection{
    box-sizing: border-box;
    position: absolute;
    width: 393px;
    height: 55px;
    left: 0px;
    top: 0px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.133333);
}


/* mypage */
.mypage{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 358px;
    top: 17px;
    background: url(./img/mypage.png);
}


/* noti */
.noti{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 326px;
    top: 17px;
    background: url(./img/noti.png);
}

/* 로고 */
.logo{
    position: absolute;
    width: 128px;
    height: 30px;
    left: 14px;
    top: 12px;
    background: url(./img/logo.png);
}


/* index.html */

/* index.html */



/* mypage.html */

/* 프로필 */
/* .profile{
    position: absolute;
    width: 339px;
    height: 102px;
    left: 28px;
    top: 68px;
} */

/* 프로필사진 */
.profile_pic{
    box-sizing: border-box;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 28px;
    top: 90px;
    background: url(./img/ewhalogo.png);
}

/* 닉네임 */
.nickname{
    position: absolute;
    height: 29px;
    left: 141px;
    top: 101px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}

/* icon "edit" */
.edit{
    position:relative;
    width: 20px;
    height: 20px;
    left: 5px;
    top: 5px;
    background: url(./img/edit.png);  
}

/* 로그아웃 */
.logout{
    position: absolute;
    height: 19px;
    left: 319px;
    top: 68px;   
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
}

/* product section */
.product1{
    
    box-sizing: border-box;

    position: absolute;
    width: 355px;
    height: 130px;
    left: 18px;
    top: 267px;
    background-color:#FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
}

/* product img */
.product_img{
    position: absolute;
    width: 110px;
    height: 110px;
    left: 13px;
    top: 10px;
    
    background: url(./img/기본학잠.png);
    border-radius: 5px;
}

/* 카테고리 */
.category{
    position: absolute;
    width: 190px;
    height: 22px;
    left: 142px;
    top: 10px;
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    display: flex;
    align-items: center;
    
    color: #777777;
}

/* 이름 */
.product_name{
    position: absolute;
    width: 190px;
    height: 40px;
    left: 142px;
    top: 32px;
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    
    color: #000000;
}

/* progressBar */
.mypage_progress{
    position: absolute;
    width: 200px;
    height: 36px;
    left: 142px;
    top: 81px;
}

/* progress bar bg */
.mypage_progress_bar_bg{
    position: absolute;
    width: 200px;
    height: 5px;
    left: 0px;
    top: 0px;
    background: #D9D9D9;
    border-radius: 5px;
}

/* progress bar */
.mypage_progress_bar{
    position: absolute;
    width: 132.67px;
    height: 5px;
    left: 0px;
    top: 0px;
    background: #17794A;
    border-radius: 5px;
}

/* 상태 */
.status{
    position: absolute;
    width: 77px;
    height: 16px;
    left: 283px;
    top: 352px;
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    text-align: right;
    
    color: #333333;
}

/* 모집된 인원 */
.num_now{
    position: absolute;
    width: 62px;
    height: 24px;
    left: 164px;
    top: 348px;
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    
    color: #17794A;
}

/* / 모집인원 */
.num_max{
    position: absolute;
    width: 42px;
    height: 23px;
    left: 200px;
    top: 352px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #999999;
}



/* design.html */
.design_title{
    position: relative;
    top: 73px;
    height: 50px;
    text-align: center;
    font-family: 'Noto Sans KR';
    font-style:normal;
    font-weight: 700;
    font-size: 25px;
    color: #000000;
}

.design_img{
    position: relative;
    margin-top: 10px;
    width: 320px;
    height: 320px;
    background: url(./img/이미지등록.png);
}

.design_info textarea{
    position: relative;
    margin-top: 10px;
    rows="3";
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    width: 320px;
    /* height: px; */
}
