/* 공통 CSS */
.layoutWrap {
    display: flex;
    height: 100vh;
    -webkit-box-pack: center;
    justify-content: center;
}

@media screen and (min-width: 1000px) {
    .layoutLeft {
        display: block;
        position: relative;
        width: 385px;
        margin-right: 60px;
    }
}

.layoutLeft {
    display: none;
    background-color: #333;
}

.layoutRight {
    position: absolute;
    width: 393px;
}

@font-face {
    font-family: 'JeonjuCraftGoR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftGoR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/* 상단바 */

/* header section */
.headerSection{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 393px;
    height: 50px;
    padding: 2px 10px;
    border-bottom: solid 1px #EEEEEE;
}

/* noti */
.noti, .mypage {
    width: 22px;
    height: 22px;
    margin-right: 12px;
}
.notiNmypage{
    display: flex;
    align-items: center;
    margin-left: auto;
}

/* 로고 */
.logoBox{
    display: flex;
    align-items: center;
}
.logo {
    width: 26px;
    height: 26px;
    margin-right: 3px;
}
.logoText{
    font-family: 'JeonjuCraftGoR';
    font-weight: 900;
    font-size: 18px;
}


/* index.html */

/* nav */
.indexNav{
    display: block;
    box-sizing: border-box;
    margin: 0;
    width: 393px;
    height: 50px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.0666667);
    align-items: center;
}

/* 공구하기 */

.indexNav > li{
    display: block;
    float: left;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    align-items: center;
    text-align: center;
}
.indexNav a{
    display: block;
    color: #777;
    padding: 10px;
    text-decoration: none;
}

.indexNav .active{
    color: #17794A;
    border-bottom: solid 2px #17794A;
}


/* products ad container */
.indexProductAdContainer{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 370px;
    height: 300px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* 광고 이미지 예시*/
.indexProductAdImg{
    width: 314px;
    height: 180px;
    margin: auto;
    margin-top: 30px;
    background: url(./img/후드티.png);
}


/* products desc */
.indexProductAdDescBg{
    display: inline-block;
    margin-top: 10px;
    width: 370px;
    height: 88px;

    background: #025F2D;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


/* 광고용 멘트 */
.indexProductAdtext{
    display: inline-block;
    width: 332px;
    height: 22px;
    margin-top: 16px;
    margin-left: 16px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

/*상품 설명란 */
.indexProductAddesc{
    width: 332px;
    height: 34px;
    margin-left: 16px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #EEEEEE;
}

/* products container */
.indexProductsList{
    display: block;
    padding: 10px 0px;
    margin: auto;
    margin-bottom: 10px;
    box-sizing: border-box;

    width: 370px;
    height: auto;

    background: #FEFEFE;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.indexProductsListTitle{
    display: block;
    margin: 10px;
    width: 226px;
    height: 22px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #000000;

}

.ProductBox{
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    width: 350px;
    height: 130px;
    
    border: 1px solid #EEEEEE;
    border-radius: 10px;
}

/* product img */
.ProductImg{
    display: inline-block;
    width: 110px;
    height: 110px;
    margin: 10px;
    background: url(./img/과잠.png);
    border-radius: 5px;
}

.ProductDesc{
    display: inline-block;
    width: 200px;
    height: 110px;
    margin: 10px;
}

.ProductCat{
    display: block;
    margin-top: 5px;
    width: 190px;
    height: 22px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #777777;
}

/* 상품 설명 영역 4온스 솜이 들어있어 보온이 잘 되는 야구점퍼 입니다 */
.Producttext{
    display: inline-block;
    margin: 5px 0px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;

    color: #000000;
}

.progressbarBox{
    width: 200px;
}

.attendees{
    display: inline;
    width: 62px;
    height: 24px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;

    color: #17794A;
}


.maxAttendees{
    display: inline;
    width: 42px;
    height: 23px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;

    color: #999999;
}

.ddayCount{
    display: inline-block;
    width: 118px;
    height: 16px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    text-align: right;

    color: #333333;

}

.progressbarBg{
    width: 200px;
    height: 5px;
    background: #D9D9D9;
    border-radius: 5px;
    overflow: hidden;
}
.progressbar{
    width: 130px;
    height: 5px;

    background: #17794A;
    border-radius: 5px;
}


/* 총대매기 버튼 */
.mydesignOpenBtn{
    display: flex;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    width: 340px;
    height: 31px;

    background: #FEFEFE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.mydesignOpenBtnText{
    display: flex;
    align-items: center;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    
}

.mydesignOpenBtnTextHl{
    color: #17794A;
}

.totalSold{
    width: 195px;
    height: 24px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: #000000;

}
.totalSoldHl{
    font-size: 18px;
    color: #17794A;
}
.opendesignOpenBtn{
    width: 120px;
    height: 25px;
    float: right;
    
    background: #17794A;
    border-radius: 15px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;

    text-align: center;
    border: none;
    color: #FFFFFF;
}
.opendesignOpenBtn > a{
    display: inline-block;
    align-items: center;
    margin: auto;
}


/* index.html 끝 */

/* mypage.html */

/* 프로필 */
.profile{
    width: 393px;
    height: 110px;
    padding: 10px;
    
    box-sizing: border-box;
    margin-top: 10px;

    display: flex;
    align-items: center;
}
/* 프로필사진 */
.profile_pic{
    display: block;
    box-sizing: border-box;
    margin: 0px 10px;
    width: 80px;
    height: 80px;
    background: url(./img/ewhalogo.png);
}
/* 닉네임 */
.nickname{
    padding-left: 20px;
    display: block;
    float: left;
    width: 150px;
    box-sizing: border-box;
    height: 29px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}
/* 로그아웃 버튼 */
.logoutBtn{
    display: flex;
    align-items: center;
    height: 30px;
    position: relative;
    top: -40px;
    left: 40px;
}
.logoutBtnText{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;  
    color: #17794A;
}

/*네비게이션바*/
.mypageNav{
    display: block;
    box-sizing: border-box;
    margin: auto;
    width: 393px;
    height: 50px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.0666667);
    align-items: center;
}
.mypageNav > li{
    display: block;
    float: left;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    align-items: center;
    text-align: center;
}
.mypageNav a{
    display: block;
    color: #777;
    padding: 10px;
    text-decoration: none;
}
.mypageNav .active{
    color: #17794A;
    border-bottom: solid 2px #17794A;
}

/* 마이페이지 컨텐츠 */
.MypageContent{
    box-sizing: border-box;

    position: absolute;
    width: 370px;
    left: calc(50% - 370px/2 + 0.5px);
    top:267px;

    background: #FEFEFE;
}

/* 내 총대함*/
.manageBtn{
    position: relative;
    left:145px;
    top:-55px;

    border: 1px solid black;
    border-radius: 5px;

    width: 50px;
    height: 25px;
    background: #FEFEFE;
}
.manageBtnText{
    display: flex;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
}
.manageBtnTextHl{
    width: 50px;
    text-align: center;
    color: #000000;
}

/* 내 디자인 */
.MypageDesign{
    display: inline-block;
    margin: auto;
    padding: 4px;
    width: 393px;
    box-sizing: border-box;
    background: #FEFEFE;
}

.designBox{
    width: 120px;
    height: 120px;
    padding: 4px;
    text-align: center;
    float: left;
}
.designImg{
    width: 120px;
    height: 120px;
    background: url(./img/내디자인.png);
}
.designDeleteBtn{
    position: relative;
    left:100px;
    top: -115px;
    width: 12px;
    height: 12px;
    background: url(./img/삭제버튼.png);
}
.designRegisterBtn{
    width: 120px;
    height: 120px;
    background: url(./img/이미지등록.png);
}

/* mypage.html 끝 */



/* design-register.html */
.designTitle{
    margin:20px 0 30px 0;
    text-align: center;
    font-family: 'Noto Sans KR';
    font-style:normal;
    font-weight: 700;
    font-size: 25px;
    color: #000000;
}
.designInfo p{
    margin: auto;
    width: 320px;
    font-family: 'Noto Sans KR';
    font-style:normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.designInfo p input{
    margin-top: 10px;
    padding: 5px;
    width: 310px;
    height: 40px;
    
    border: 1px solid black;
    border-radius: 5px;
}

.designRegisterImg{
    margin: 20px auto 20px auto;
    width: 320px;
    height: 320px;
    background: url(./img/디자인등록.png);
    background-repeat: no-repeat;
}

.designInfo textarea{
    margin-top: 10px;
    padding:10px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    width: 300px;

    resize: none;
    border: 1px solid black;
    border-radius: 5px;
}
.designInfo button{
    display: block;
    margin: 20px auto 20px auto;
    padding: 0;

    width: 320px;
    height: 50px;

    background: #17794A;
    border: 1px solid #17794A;
    border-radius: 5px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;

    color: #ffffff;
    text-align: center;
}
/* design-register.html 끝 */


/*login.html*/

.login-text {
    /* 로그인 */

    position: absolute;
    width: 160px;
    height: 50px;
    left: calc(50% - 160px/2 + 35px);
    top: 100px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #000000;


}

input[type="email"] {
    /* Rectangle 4 */

    box-sizing: border-box;

    position: absolute;
    width: 315px;
    height: 60px;
    left: 39px;
    top: 221px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;

}

input[type="email"] {
    /* 이메일 주소 */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: rgba(86, 85, 85, 0.68);

}

input[type="password"] {
    /* Rectangle 5 */

    box-sizing: border-box;

    position: absolute;
    width: 315px;
    height: 60px;
    left: 39px;
    top: 298px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;

}

input[type="password"] {
    /* 비밀번호 */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: rgba(86, 85, 85, 0.68);

}

input[type="submit"] {

    /* Rectangle 6 */

    box-sizing: border-box;

    position: absolute;
    width: 315px;
    height: 60px;
    left: 38px;
    top: 385px;

    background: #17794A;
    border: 1px solid #17794A;
    border-radius: 5px;


}

#email::placeholder {
    /* 이메일 주소 */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: rgba(86, 85, 85, 0.68);

}

#password::placeholder {
    /* 이메일 주소 */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: rgba(86, 85, 85, 0.68);

}

input[type="submit"] {
    /* 로그인 */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.95);
    text-align: center;

}

input[type="submit"]:hover {
    background-color: #878a8d;
    /* Darker background color on hover */
}

.signup-button {
    /* Rectangle 7 */

    box-sizing: border-box;

    position: absolute;
    width: 315px;
    height: 60px;
    left: 38px;
    top: 462px;

    background: #17794A;
    border: 1px solid #17794A;
    border-radius: 5px;

}

.signup-button {
    /* 회원가입 */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    text-transform: uppercase;
    text-align: center;

    color: #FFFFFF;


}

.signup-button:hover {
    background-color: #878a8d;
    /* 호버시 배경 색상 변경 */
}

/*create-account.html*/

.createAccountSection{
    width: 100%;
    height: 55px;
    border-bottom: solid 1px #ddd;
    display: flex;
    align-items: center;
}

.before {
    /* before */
    position: absolute;
    width: 7px;
    height: 17px;
    left: 11px;
    top: 76px;
    background: url(./img/before.png);
}



.createAccount-text {
    width: 100%;
    height: 26px;
    text-align: center;
}
.createAccount-text > a {
    display: block;
    margin: auto;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    
    color: #000000;
}


#inputNickname {
    /* Rectangle 4 */

    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 30px;
    left: 20px;
    top: 165px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;

}

.nickname-text {
    /* 닉네임 */

    position: absolute;
    width: 253px;
    height: 29.36px;
    left: 20px;
    top: 110px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;

}

.email-text {
    /* 이메일 */

    position: absolute;
    width: 253px;
    height: 29.36px;
    left: 20px;
    top: 190px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;

}

#inputEmail {
    /* Rectangle 4 */

    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 30px;
    left: 20px;
    top: 245px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;

}

.phonenum-text {
    /* 연락처 */

    position: absolute;
    width: 253px;
    height: 29.36px;
    left: 20px;
    top: 270px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;



}

#inputPhonenum {

    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 30px;
    left: 20px;
    top: 325px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;

}

.address-text {
    /* 주소 */

    position: absolute;
    width: 253px;
    height: 29.36px;
    left: 20px;
    top: 350px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;



}

#sample6_address {

    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 30px;
    left: 20px;
    top: 400px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;


    /* 배송받을 주소를 검색해주세요. */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: rgba(86, 85, 85, 0.68);
}

#sample6_detailAddress {

    box-sizing: border-box;

    position: absolute;
    width: 255px;
    height: 30px;
    left: 20px;
    top: 470px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;


    /* 배송받을 주소를 검색해주세요. */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: rgba(86, 85, 85, 0.68);

}

#sample6_postcode {

    box-sizing: border-box;

    position: absolute;
    width: 255px;
    height: 30px;
    left: 20px;
    top: 435px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;


    /* 배송받을 주소를 검색해주세요. */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: rgba(86, 85, 85, 0.68);

}


#sample6_extraAddress {

    box-sizing: border-box;

    position: absolute;
    width: 255px;
    height: 30px;
    left: 20px;
    top: 505px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;


    /* 배송받을 주소를 검색해주세요. */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: rgba(86, 85, 85, 0.68);

}

#sample6_button {
    box-sizing: border-box;

    position: absolute;
    width: 90px;
    height: 30px;
    left: 280px;
    top: 435px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;


    /* 배송받을 주소를 검색해주세요. */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: rgba(86, 85, 85, 0.68);

}

.password-text {

    position: absolute;
    width: 253px;
    height: 29.36px;
    left: 20px;
    top: 530px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #000000;

}

#inputPassword {

    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 30px;
    left: 20px;
    top: 585px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;
}

#inputPassword2 {

    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 30px;
    left: 20px;
    top: 620px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;
}


.school-button {
    /* Rectangle 6 */

    box-sizing: border-box;

    position: absolute;
    width: 160px;
    height: 50px;
    left: 20px;
    top: 670px;

    background: #17794A;
    border: 1px solid #17794A;
    border-radius: 5px;


}

.school-button {
    /* 회원가입 */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    text-transform: uppercase;
    text-align: center;

    color: #FFFFFF;


}

.school-button:hover {
    background-color: #878a8d;
    /* 호버시 배경 색상 변경 */
}

.realname-button {
    /* Rectangle 6 */

    box-sizing: border-box;

    position: absolute;
    width: 160px;
    height: 50px;
    left: 210px;
    top: 670px;

    background: #17794A;
    border: 1px solid #17794A;
    border-radius: 5px;


}

.realname-button {
    /* 회원가입 */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    text-transform: uppercase;
    text-align: center;

    color: #FFFFFF;
}
.realname-button:hover {
    background-color: #878a8d;
    /* 호버시 배경 색상 변경 */
}

.create-button {

    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 40px;
    left: 20px;
    top: 735px;

    background: #777777;
    border: 1px solid #777777;
    border-radius: 5px;


}

.create-button {
    /* 회원가입 */

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    text-transform: uppercase;
    text-align: center;

    color: #FFFFFF;

}


/* product-detail.html  */

.productDeatilImage{
    width: 363px;
    height: 300px;
    padding: 15px;
    text-align: center;
    border-bottom: solid 1px #ddd;
}

#productDetailImage{
    display: block;
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.statusBox{
    width: 70px;
    height: 30px;
    margin: 0 10px;

    background: #FFFFFF;
    border: 0.5px solid #999999;
    border-radius: 10px;

    display: flex;
    align-items: center;
    text-align: center;
    float: left;
}

#statusText{
    display: block;
    margin: auto;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;

    color: #17794A;
}


#productDetailTitle{
    float: left;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    padding: 2px;
}

.productDetailInfo{
    width: 393px;
    height: auto;
}

.productDetailBox{
    display: flex;
    align-items: center;
    width: 383px;
    height: 50px;
    padding: 5px;
    border-bottom: solid 1px #ddd;

}

#productDetailDescription{
    margin: auto;
}
.productDetailLabel{
    width: 90px;
}

.productDetailVar{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    color: #17794A;
}

.productDetailBox .userBox{
    display: flex;
    width: 200px;
}
.productDetailBox .userBox > img{
    width: 51px;
    height: 51px;
    margin-right: 10px;
}

.productDetailBox .userBox > .userName{
    width: 300px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #000000;
}

/* nav */
.productDeatilNav{
    display: block;
    box-sizing: border-box;
    margin: 0;
    width: 393px;
    height: 50px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.0666667);
    align-items: center;
}

/* 공구하기 */

.productDeatilNav > li{
    width: 100px;
    display: block;
    float: left;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    align-items: center;
    text-align: center;
}
.productDeatilNav a{
    display: block;
    color: #777;
    padding: 10px;
    text-decoration: none;
}

.productDeatilNav .active{
    color: #17794A;
    border-bottom: solid 2px #17794A;
}

.writeGongji {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 370px;
    height: 35px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}
.writegongji-text{
    position: relative;
    width: 253px;
    height: 29.36px;
    left: 10px;
    top: -10px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #000000;
}

.addButton {
    position: relative;
    width: 15px;
    height: 15px;
    left: 335px;
    top: -45px
}

.gongjiTab {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 370px;
    height: 70px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

.gongjiTab-text{
    position: relative; /* 부모 요소에 대해 상대 위치 설정 */
    top: 5px;
    left: 10px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #000000;
}


.editButton {
    position: relative; /* 부모 요소에 대해 상대 위치 설정 */
    top: -40px;
    left: 335px;
}


.participate-button {

    box-sizing: border-box;

    display: block;
    margin: auto;
    margin-bottom: 40px;
    box-sizing: border-box;
    width: 370px;
    height: 50px;

    background: #17794A;
    border: 1px solid #17794A;
    border-radius: 5px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    text-transform: uppercase;
    text-align: center;

    color: #FFFFFF;

}

.answer {
    display: block;
    margin: auto;
    margin-bottom: 30px;

    width: 370px;
    height: 70px;

}
#arrowImage{
    position: relative;
    left: 20px;
    top: 5px;
}
.answerTab {
    position: relative;
    left: 50px;
    top: -15px;
    margin-bottom: 30px;
    box-sizing: border-box;
    width: 320px;
    height: 70px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

#laterImage {
    display: block;
    position: relative;
    left: 15px;
    top: 5px;
    width: 90px;
    height: 90px;
    border-radius: 5px;
    margin-bottom: 30px;
}


.laterTab {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 370px;
    height: 160px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

.laterButton {
    position: relative; /* 부모 요소에 대해 상대 위치 설정 */
    top: -160px;
    left: 335px;
}



/*product-register.html*/

.productRegisterSection{
    padding: 20px;
}

.productInputSection{
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    height: auto;
    padding: 5px 10px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}
.productInputLabel{
    min-width: 90px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 9px;
    
    font-weight: 700;
    font-size: 16px;
}
.productInputField{
    width: 90%;
    height: 30px;
    border: solid 1px #ddd;
    border-radius: 5px;
}

#category{
    width: 90%;
    height: 35px;
}

.DateBox{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}

#year, #year2, #month, #month2, #day, #day2{
    display: block;
    width: 70px;
    height: 26px;
    margin-right: 15px;
    border: solid 1px #ddd;
    border-radius: 5px;
}

#inputMinAmount, #inputMaxAmount{
    
    width: 150px;
}


#getImage_button{
    width: 125px;
    height: 25px;
    text-align: center;
    margin-left: 15px;
}

.optionTitle{
    display: block;
    margin: 5px;
}

#inputAdd{
    width: 230px;
    height: 30px;
}

#inputAdddetail{
    width: 150px;
    height: 30px;
}

.trashButton {
    position: relative;
    width: 15px;
    height: 15px;
    left: 20px;
}

.plusButton {
    position: relative;
    width: 15px;
    height: 15px;   
    left: 30px;
}

#condition{
    width: 150px;
}

.registrationBtn{

    box-sizing: border-box;
    width: 90%;
    height: 40px;

    background: #17794A;
    border-radius: 5px;
    border: none;

    font-weight: 500;
    font-size: 18px;
    line-height: 29px;

    color: #fff;
}

.registrationBtn:hover {
    background-color: #878a8d;
    /* 호버시 배경 색상 변경 */
}

/*product-register.html 끝*/