<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이화공구함</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="layoutWrap">
        <div class="layoutLeft">

        </div>
        <div class="layoutRight">
            <div class="headerSection">
                <div class="logo"></div>
                <div class="noti"></div>
                <div class="mypage"></div>
            </div>
            <!--여기에 수정하세요-->
            <div class="profile">
                <div class="profile_pic"></div>
                <div class="nickname">{{nickname}}<div class="edit"></div>
                </div>
                <div class="logout">
                    <a>로그아웃</a>
                </div>
            </div>
            <div class="product1">
                <div class="product_img"></div>
                <div class="category">{{product_category}}</div>
                <div class="product_name">{{product_name}}</div>
                <div class="mypage_progress">
                    <div class="status"></div> 
                    <div class="num_now"></div>
                    <div class="num_max"></div>
                    <div class="mypage_progress_bar_bg"></div>
                    <div class="mypage_progress_bar"></div>
                </div>
                
            </div>
        </div>
        <div id="sdaf"></div>
    </div>
</body>
</html>